html {
	--color-dark: #123;
	--color-light: #fed;
	--color-alternate: #246;
}

body {
	margin: 0;
	font-family: sans-serif;
}

#App {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header,
main {
	padding: 20px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	background-color: var(--color-dark);
	color: var(--color-light);
}

@media (max-width: 750px) {
	header {
		flex-direction: column;
		align-items: flex-start;
	}
}

header h1 {
	font-size: 24px;
	flex-grow: 1;
	margin: 0;
}

header span {
	margin: 10px 20px 10px 0;
}

header a {
	text-decoration: none;
	color: var(--color-dark);
	background-color: var(--color-light);
	padding: 5px 10px;
}

header a:hover,
header a:active {
	text-decoration: none;
	color: var(--color-light);
	background-color: var(--color-alternate);
}

main {
	flex-grow: 1;
	flex-direction: column;
	font-size: 12px;
}

#UserData,
#Response {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

#UserData {
	flex-basis: 20%;
}

#Response {
	flex-basis: 80%;
}

pre,
textarea {
	flex-grow: 1;
	padding: 5px 10px;
	margin: 0;
}

pre {
	background-color: var(--color-dark);
	color: var(--color-light);
}

textarea {
	resize: none;
}

textarea:read-only {
	cursor: not-allowed;
}
